:host {
  display: flex;
  margin: 8px;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  background: #478a8a;
}
strong {
  padding: 16px;
}
.children {
  display: flex;
}
